<section class="section" id="BibTeX">
    <div class="container is-max-desktop content">
      <h2 class="title">BibTeX</h2>
      <pre><code>@INPROCEEDINGS{dungtham2023eCMU,
    author       = {Tham, Quoc Dung and Nguyen, Duc Dung},
    booktitle={2023 RIVF International Conference on Computing and Communication Technologies (RIVF)}
    title        = {eCMU: An Efficient Phase-aware Framework for Music Source Separation with Conformer},
    year         = {2023},
    pages        = {447-451},
    doi          = {10.1109/RIVF60135.2023.10471783}
  }</code></pre>
    </div>
  </section>