<div style="width: 100%;display: flex;justify-content: center;">
  <div class="audio-container" style="margin: 2em 0;">
    <div class="buttons" style="justify-content: space-around;">
      <span class="play-btn btn" id="play">
        <i class="fas fa-play"></i>
        <i class="fas fa-pause"></i>
      </span>
      
      <span class="backward-btn btn" id="backward">
        <i class="fas fa-backward" ></i>
      </span>
      <span class="forward-btn btn" id="forward">
        <i class="fas fa-forward" ></i>
      </span>
      <span class="mute-btn btn" data-track-id="-1">
        <i class="fas fa-volume-up"></i>
        <i class="fas fa-volume-mute"></i>
      </span>
      <input
          type="range"
          min="0"
          max="1"
          step="0.1"
          value="0.5"
          class="volume-slider"
          data-track-id="-1"
        />
    </div>
  </div>
</div>
