<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description"
        content="Music Source Separation">
  <meta name="keywords" content="Umix, Demix">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Music Source Separation</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PYVRSFMDRL"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-PYVRSFMDRL');
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro"
        rel="stylesheet">

  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="/static/css/bulma-slider.min.css">
  <link rel="stylesheet" href="/static/css/fontawesome.all.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <!-- <link rel="icon" href="/static/images/favicon.svg"> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="/static/js/fontawesome.all.min.js"></script>
  <script src="/static/js/bulma-carousel.min.js"></script>
  <script src="/static/js/bulma-slider.min.js"></script>
  <!-- <script src="/static/js/index.js"></script> -->
  <script src="/static/js/custom.js"></script>

  <!-- css for demo section -->
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
      <a class="navbar-item" href="./">
      <span class="icon">
          <i class="fas fa-home"></i>
      </span>
      </a>
    </div> 

  </div>
</nav>

<section class="hero teaser">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <img id="teaser" height="100%" src="./static/images/source_separation_io.png">
        <!-- <source src="./static/videos/teaser.mp4"
                type="video/mp4"> -->
      </img>
      <h2 class="subtitle has-text-centered">
        <span class="dnerf">Demix your mixture into 4 stems (Vocals, Drums, Bass, Other)
      </h2>
    </div>
  </div>
</section>

<div id="input-bar" class="container is-max-desktop">
  <!-- <form action="/separate" method="post" class="form" ></form> -->
  <input type="url" id="url-input" name="url" pattern="https://.*"  required placeholder="Enter an URL for source separation">
  <button type="submit" id="submitBtn" class="btn btn-primary">
    <i class="fa fa-play-circle"></i>
  </button>
</div>

<div class="message"></div>
<div class="loader-container hidden">
  <div class="loader"></div>
  <h1 style="text-align: center; margin-top: 10px;"> Keep waiting! <br/> The process can takes several minutes ... </h1> 
</div>

<div class="result-container"></div>





{% include './bibtex.html' %}
{% include './footer.html' %}




<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/regions.esm.js"></script>
<script src="https://unpkg.com/wavesurfer-multitrack/dist/multitrack.min.js"></script>
<script src="/static/js/loader.js"></script>
<script src="/static/js/multitrack1.js"></script>
</body>
</html>
